
@media all and (min-width:650px){

    .last-projectitem{
        margin-left: 28%;
        width: 43%;
    }

}

@media all and (min-width : 1400px) {
    .projectitem {
        height: 625px;
    }
}

@media all and (max-width:650px){

    h2{
        padding-top: 5%;
    }
    #personal-about, #professional-about{
        width: 100%;
    }

    #professional-about p{
        width: 90%;
        margin-left: 3%;
    }

    #personal-about p{
        width: 90%;
        margin-left: 7%;
    }

    #professional-about h3{
        width: 90%;
        margin-left: 3%;
    }
    
    .projectitem, .last-projectitem{
        width: 90%;
        background-color: #df314d1f;
        border-radius: 5%;
        padding: 2%;
        margin-left: 5%;
        height: 100%;
    }

    .proj-image{
        width: 80%;
    }

    #profile-pic{
        width: 60%;
        margin-left: 20%;
   }

    .main-content .content h1{
        padding-top: 45%;
    }

    .contact-content{
        margin-top: 45%;
    }

    #sidebar {
        background: #DF314D;
        position: absolute;
        width: 240px;
        height: 100%;
        left: -240px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #sidebar ul li {
        margin: 0;
        display: block;
    }

    #portfolio {
        padding-left: 2%;
    }

    .swipe-area {
        position: absolute;
        width: 50px;
        left: 0;
        top: 0;
        height: 100%;
        background: #f3f3f3;
        height: 100%;
        position: fixed;
    }

    .main-content #sidebar-toggle {
        background: #DF314D;
        border-radius: 3px;
        display: block;
        padding: 10px 7px;
        float: left;
        position: fixed;

    }
    .main-content #sidebar-toggle .bar{
        display: block;
        width: 18px;
        margin-bottom: 3px;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;   
    }
    .main-content #sidebar-toggle .bar:last-child{
        margin-bottom: 0;   
    }

    .container{
        position: fixed;
        height: 100%;
        width: 100%;
    }

    .container.open-sidebar.swipe-area{
        visibility: hidden;   
    }

    h2{
        padding-left: 5%;
    }

    .row {
        flex-direction: column;
    }

    .column {
        flex: 100%;
        width: 100%;
    }

    .slideshow-container, #slide-dots {
        margin: 0 auto;
        width: 90%;
    }

    #slide-dots {
        margin-left: 41%;
    }

    #spotify {
        height: 400px;
    }

}

@media all and (max-width:376px){
    #other, #languages-frameworks{
        width: 90%;
        float: left;
        text-align: center;
        padding-left: 0;
        margin-left: 3%;
    }

    #other ul, #languages-frameworks ul{
        list-style-type: none;
    }

    #other h4, #languages-frameworks h4{
        padding-left: 12%;
    }

    #professional-about #languages-frameworks ul, #professional-about #other ul{
        padding-left: 3%;
    }

    #professional-about #languages-frameworks h4, #professional-about #other h4{
        padding-left: 2%;
    }

}